
body{
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/bg.jpg');
  background-position:center top;
  margin: 0;

}


a{
  text-decoration: none;
}
nav, section,header,footer{
  width: 60%;
  margin:auto;
}
h1,h2,p,a,li,img{
  width: 100%;
  height: 100%;
}
section{height: 70%;}

header{
  height: 3em;
  vertical-align: middle;
}
nav{
  height: 1.3em;
}
/* header*/
header ul{
  width: 20%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
header li{
  width: 15%;
  display: inline-block;
}
.subscribe{
  width: 30%;
  height: 100%;
  margin-left: 40%;



}
.subscribe a{
  color: white;
  font-size:.6em;
  float:right;
  vertical-align: middle;
}
.subscribe p{
  height: 30%;r
  vertical-align: middle;
  margin-bottom: 10%;
  color:#FFFFFF ;
  font-weight: bold;
  font-size: 1.2em;
  z-index: 1;
}
.subscribe p::after{
  content: "\2022";
  margin: 10%;
  font-size: 1em;
}
.icons{
  width: 30%;
  height: 100%;
  float:right;


}
header ul:nth-child(2):before{
content: '\205E';
color:white;
display: inline-block;
font-size: 1em;
vertical-align: middle;

}

.icons li{
  width: 15%;
  background-color: grey;
  height: auto;

}
/*navigation items*/
nav li{
  width: 22%;
  display: inline-block;
  background: grey;
  color: white;
  font-size: .3em;
}
nav a{
  width: 100%;
  height: 95%;
  display: inline-block;
  background-color: red;
  text-align: center;
  vertical-align: bottom;


}
nav p{
  max-width: 70%;
  height: 100%;
  color:white;
  background-color: red;
  text-align: center;
  display: inline;
  vertical-align: bottom;
  margin-top: 0%;

}
nav p::after{
  content: "-";
  font-size: 3em;
  margin-left: 10%;
}
nav p::before{
  content: "-";
  font-size: 3em;
  margin-right: 10%;
}
/*container 1*/
.container.one{
  height: 2em;

}
/*container 2*/
.container.two{
  display: flex;

}
.container div{
  display: inline-block;
}
.cols{
  display: flex;
  width: 30%;
  height: auto;
  background-color: white;
  border: 1px solid black;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: .7em;
  text-align: center;

}
.cols a{
  text-color:red;
  text-decoration: none;
}
.cols a::after{
  content: "]";
  margin-left: 2%;
}
.cols a::before{
  content: "[";
  margin-right: 2%;
}
.cols p{
 font-size: .4em;


}
.cols-3{
  display: flex;
}
/*third container*/

.three li{display: inline-block;width: 45%}
.row-one div{display: inline-block; width: 45%;
}
.three p{font-size: 1.5em;color: white;font-family: "Verdana",Times}
.row-two{
  width: 100%;
}
.row-one .pic-one{
  background-image: url("assets/sk8er-4.png");
} 
.row-one .pic-two{
  background-image: url("assets/sk8er-3.png");
}
.row-two .pic-one{
  background-image: url("assets/sk8er-1.png");
}
.col-two .pic-one{
  background-image: url("assets/sk8er-2.png");
}
/*container 4*/
.four{
  width: 100%;
  height: 20%;
  background: white;
  margin-bottom: 5%;
  margin-top: 5%;
}
.four div{
  display: inline;
  width: 9%;
  margin: auto;
}
.four img{
  height: inherit;
  width: inherit;
}
.cols-mid:nth-child(1){
  margin-left: 1%;
}
